.javascript{
    grid-area: javascript;
    background-color: lightgoldenrodyellow;
}
.javascript h2{
    text-align: center;
}
.javascript .buttonBlock{
    display: flex;
    justify-content: space-around;
}
.javascript button{
    padding: 10px;
    border: 1px solid midnightblue;
    border-radius: 5px;
}
