.App{
    font-family: 'Roboto',sans-serif;
    display: grid;
    height: 100vh;
    grid-template-rows: 2fr 8fr 2fr;
    grid-gap: 1px;
    background-color: midnightblue;
    width: 1280px;
    margin: 0 auto;
}
